.photo-grid {
  margin: 0 auto;
  width: calc(100% - 48px*2);
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 1rem;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    gap: 0.875rem;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    width: calc(100% - 24px*2);
  }
}

@media screen and (max-width: 630px) {
  .photo-grid {
    width: calc(100% - 16px*2);
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    width: calc(100% - 16px*2);
    gap: 0.75rem;
  }
}