.place__image {
  margin: 0;
  padding: 0;
  width: 460px;
}

@media screen and (max-width: 1024px) {
  .place__image {
    width: 440px;
  }
}

@media screen and (max-width: 908px) {
  .place__image {
    width: 340px;
  }
}

@media screen and (max-width: 767px) {
  .place__image {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .place__image {
    width: 320px;
  }
}
