.footer__links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 92px 0 24px 0;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .footer__links {
    padding-top: 88px;
  }
}

@media screen and (max-width: 590px) {
  .footer__links {
    flex-direction: column;
    padding: 70px 0 0 0;
  }
}

@media screen and (max-width: 320px) {
  .footer__links {
    padding: 64px 0 0 0;
  }
}