.cover {
  position: relative;
  width: calc(100% - 48px*2);
  aspect-ratio: 1 / 0.625;
  margin: 0 auto;
  background-image: url(../../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
  }
}