.place__link {
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  transition: opacity 0.1s ease-in-out;
}

.place__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 470px) {
  .place__link {
    font-size: 12px;
  }
}

@media screen and (max-width: 320px) {
  .place__link {
    font-size: 18px;
  }
}
