.cover__overlay {
  position: relative;
  max-width: 1184px;
  min-height: 100%;
  aspect-ratio: 1 / 0.625;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(../../../images/cover.jpg) no-repeat center / cover;
  color: #FFFFFF;
  text-decoration: none;
}

.cover__overlay::before {
  content: "";
  position: absolute;
  display: block;
  max-width: 1184px;
  min-height: 100%;
  aspect-ratio: 1 / 0.625;
  margin: 0 auto;
  padding: 0;
  background-color: rgba(42, 44, 47, 0.3);
  transition: background-color 0.2s ease-in-out;
}

.cover__overlay:hover::before {
  background-color: rgba(42, 44, 47, 0.8);
}


@media screen and (max-width: 320px) {
  .cover__overlay {
    min-height: 200px;
  }
}
