.footer {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}

@media screen and (max-width: 1279px) {
  .footer {
    margin: 0 48px;
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
    margin: 0 24px;
  }
}

@media screen and (max-width: 590px) {
  .footer {
    max-width: 186px;
    flex-direction: column;
    margin: 0 auto 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    margin: 0 auto 0 16px;
  }
}
